div img{
    height: 200px;
    object-fit: cover;
}

body {
    background-image:url(../imagenes/fonditopo.jpeg) ;
}

#cards .image-top {
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    }

.titleee {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

footer {
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}